MISMO_3.4.0_B324.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.mismo.org/residential/2009/schemas" xmlns:mismo="http://www.mismo.org/residential/2009/schemas" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mismo.org/residential/2009/schemas" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
	<xsd:annotation>
		<xsd:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="com.tavant.finexp.mismo.vo" />
			</jaxb:schemaBindings>
			<jaxb:globalBindings generateElementProperty="false" typesafeEnumMaxMembers="1024">
  			</jaxb:globalBindings>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:include schemaLocation="MISMOComplexTypesB324.xsd"/>
	<xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlinkMISMOB324.xsd"/>
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xsd:element name="DEAL" type="DEAL">
		<xsd:annotation>
			<xsd:documentation>The root element for all transactions that apply to the use cases of a single deal. A Deal may contain multiple loans or loan applications.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DOCUMENT" type="DOCUMENT">
		<xsd:annotation>
			<xsd:documentation>A DOCUMENT element contains or refers to an electronic record that reports one or more aspects of a business transaction. A DOCUMENT element has types, purposes, and uses which are described in the DOCUMENT_CLASSIFICATION element. A DOCUMENT element contains one or more VIEW elements which allow rendering for human consumption, for example on a computer display or printed on paper. A DOCUMENT element may contain a DEAL_SETS element with data related to the DOCUMENT. A DOCUMENT element may also contain a MAP element that relates data in the DOCUMENT to populated fields in one or more VIEW elements. A DOCUMENT may contain SIGNATORY elements used to represent the legally binding signatures of the parties named in the electronic record. A DOCUMENT also supports SYSTEM_SIGNATURE elements to create digital tamper-evident seals over portions or all of the DOCUMENT. Finally, a DOCUMENT may contain one or more AUDIT_TRAIL_ENTRY elements that list events which occurred to the DOCUMENT. A DOCUMENT is also known as a MISMO V3 SMART Doc® electronic document. A DOCUMENT may be delivered within a MISMO V3 MESSAGE, or a DOCUMENT element may be the root element of a standalone resource that may be validated with the model schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MESSAGE" type="MESSAGE">
		<xsd:annotation>
			<xsd:documentation>MESSAGE is the root node for V3. It represents the message payload of any SOAP or REST transaction. In SOAP MESSAGE is the content of &amp;gt;soap:body&amp;lt;. In REST MESSAGE is the document that is in the PUT, GET or DELETE HTTP protocol methods.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PARTY" type="PARTY">
		<xsd:annotation>
			<xsd:documentation>A collection of information about a single party to a transaction. Included direct participants like the borrower and seller as well as indirect participants such as the flood certificate provider.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
