MISMO_TFCExtensions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>Version: 3.4.0 Build: B324 Date: 2015-12-17 Iteration: </xsd:documentation>
		<xsd:documentation></xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="MISMODataTypesB324.xsd"/>
	<xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlinkMISMOB324.xsd"/>
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	
	<xsd:complexType name="REQUESTING_PARTY_EXTENSION_MISMO">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="LenderAccountIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="LenderAccountPassword" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="InternalAccountIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="UserIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Password" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="REQUESTING_PARTY_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="CreditProviderName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="CreditProviderIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="CreditProviderPassword" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="CopyCreditLiabilitiesIndicator" type="xsd:boolean" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AUTOMATED_UNDERWRITING_SYSTEM_REQUEST_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="UnderwritingEngineName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="ReturnFileTypes" type="xsd:string" maxOccurs="unbounded"></xsd:element>
			<xsd:element name="UnderwriteRequestFileType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="UnderwriteRequestFormatType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="UnderwriteRequestVersionIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="UnderwriteRequestFileTypeName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="GloballyUniqueIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AutomatedUnderwritingProductName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AutomatedUnderwritingFunctionName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AutomatedUnderwritingVersionIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AutomatedUnderwritingModeType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="ValidationIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="SUBMITTING_PARTY_EXTENSION_MISMO">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="AccountIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CREDIT_REQUEST_DATA_DETAIL_EXTENSION_MISMO">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="TaxpayerIdentifierValue" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="TaxpayerIdentifierType" type="TaxpayerIdentifierBase" nillable="true" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CREDIT_REQUEST_DATA_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="CreditReportVendorIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LENDER_EXTENSION_MISMO">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="CreditUnionIndicator" type="xsd:boolean" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MI_PREMIUM_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="MIPremiumAmount" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="MIPremiumBlendedPaymentAndTaxAmount" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="MIPremiumBlendedRateAndTaxPercent" type="xsd:string" minOccurs="0"></xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CREDIT_REPOSITORY_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="RequestFraud" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="RequestScore" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MESSAGE_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="TFC_TRANSACTION_DETAILS" type="TFC_TRANSACTION_DETAILS" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TFC_TRANSACTION_DETAILS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="ApplicationId" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="CorrelationId" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="FCCorrelationId" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="OperationType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="TransactionOperationType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Channel" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="IntegrationCode" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="ProductCode" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="PerformPolling" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="MultiplexingRequired" type="xsd:boolean" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LOAN_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="CALCULATED_VALUES" type="CALCULATED_VALUES" minOccurs="0"></xsd:element>
			<xsd:element name="UNDERWRITING_VERIFICATIONS" type="UNDERWRITING_VERIFICATIONS" minOccurs="0"></xsd:element>
			<xsd:element name="LoanDocumentationType" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CALCULATED_VALUES">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="CALCULATED_VALUE" type="CALCULATED_VALUE" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CALCULATED_VALUE">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Value" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UNDERWRITING_VERIFICATIONS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="UNDERWRITING_VERIFICATION" type="UNDERWRITING_VERIFICATION" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UNDERWRITING_VERIFICATION">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="VerificationReportSupplierType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="VerificationReportIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HMDA_RACE_DESIGNATION_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="HMDARaceDesignationOtherAsianDescription" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="HMDARaceDesignationOtherPacificIslanderDescription" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GOVERNMENT_MONITORING_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="HMDAGenderType" type="GenderBase" minOccurs="0"></xsd:element>
			<xsd:element name="ApplicationTakenMethodType" type="ApplicationTakenMethodBase" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LOAN_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="EnergyImprovementAmount" type="xsd:decimal" minOccurs="0"></xsd:element>
			<xsd:element name="PACELoanPayoffAmount" type="xsd:decimal" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="URLA_TOTAL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="URLATotalSellerCreditsAmount" type="xsd:decimal" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AUTOMATED_UNDERWRITING_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="AutomatedUnderwritingStatusCondition" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AutomatedUnderwritingSystemMessageValue" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AutomatedUnderwritingStatusCode" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="RecommendationReferralIndicator" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="RecommendationCode" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="RecommendationEligibilityIndicator" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AUTOMATED_UNDERWRITING_SYSTEM_RESPONSE_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="GloballyUniqueIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AutomatedUnderwritingProductName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AutomatedUnderwritingFunctionName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AutomatedUnderwritingVersionIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="ValidationIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="DATA_FILE_STATUSES" type="DATA_FILE_STATUSES" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DATA_FILE_STATUSES">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="DATA_FILE_STATUS" type="DATA_FILE_STATUS" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DATA_FILE_STATUS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="UnderwriteRequestFileType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="UnderwriteRequestFormatType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="UnderwriteRequestFileTypeName" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LIABILITY_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="RentalPropertyIndicator" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="LiabilityPartialPayoffIndicator" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="LiabilityPartialPayoffAmount" type="xsd:double" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PRINCIPAL_AND_INTEREST_PAYMENT_LIFETIME_ADJUSTMENT_RULE_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="PeriodNumber" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Percent" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="DurationMonths" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="CalculationType" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PRINCIPAL_AND_INTEREST_PAYMENT_PER_CHANGE_ADJUSTMENT_RULE_EXTENSION_MISMO">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="PaymentAdjustmentPeriodNumber" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="INTEREST_RATE_PER_CHANGE_ADJUSTMENT_RULE_EXTENSION_MISMO">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="RateAdjustmentPeriodNumber" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="RateAdjustmentSubsequentCapPercent" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HELOC_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="SubordinateLienHelocAmount" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GOVERNMENT_BORROWER_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="BorrowerCreditRating" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="BankruptcyCount" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="ForeclosureCount" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AFFORDABLE_LENDING_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="CommunitySecondsIndicator" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="CommunityLendingProductName" type="xsd:string" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SERVICE_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="DOCUMENT_PREPARATION" type="DOCUMENT_PREPARATION" minOccurs="0"></xsd:element>
			<xsd:element name="SERVICE_DETAIL" type="SERVICE_DETAIL" minOccurs="0"></xsd:element>
			<xsd:element name="OTHER_SERVICES" type="OTHER_SERVICES" minOccurs="0"></xsd:element>
			<xsd:element name="ServiceRequestDescription" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SERVICE_EXTENSION_MISMO">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="TaxpayerIdentifierType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="TaxpayerIdentifierValue" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SERVICE_DETAIL">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="ServiceType" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DOCUMENT_PREPARATION">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="DOCUMENT_PREPARATION_REQUESTS" type="DOCUMENT_PREPARATION_REQUESTS" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DOCUMENT_PREPARATION_REQUESTS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="DOCUMENT_PREPARATION_REQUEST" type="DOCUMENT_PREPARATION_REQUEST" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DOCUMENT_PREPARATION_REQUEST">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="RequestedDocumentIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="RequestedDocumentVendorIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="ServiceVerificationType" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CLOSING_AGENT_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="NonPersonEntityIndicator" type="xsd:boolean" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROJECT_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="ProjectLegalStructureTypeOtherDescription" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="ProjectLegalStructureTypeOtherValues" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="ProjectDesignTypeOtherDescription" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROJECT_DETAIL_EXTENSION_MISMO">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="FNMProjectClassificationType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="FNMProjectClassificationTypeOtherDescription" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="FREProjectClassificationType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="FREProjectClassificationTypeOtherDescription" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CURRENT_INCOME_ITEM_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="IncomeFederalTaxExemptIndicator" type="xsd:boolean" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OWNED_PROPERTY_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="CurrentResidenceIndicator" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="OwnedPropertyDispositionStatusTypeOtherValues" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="SERVICE_PRODUCT_FULFILLMENT_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="LenderOrderIdentifier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="PollingInterval" type="xsd:double" minOccurs="0"></xsd:element>
			<xsd:element name="VendorServiceType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Calculations" type="CALCULATIONS" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="IDENTIFICATION_VERIFICATION_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="PhoneCountryHint" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="IpAddress" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="IdentityChecksScore" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="IpAddressChecks" type="IP_ADDRESS_CHECKS" minOccurs="0"></xsd:element>
			<xsd:element name="GeoLocation" type="GEO_LOCATION" minOccurs="0"></xsd:element>
			<xsd:element name="PrimaryAddressChecks" type="PRIMARY_ADDRESS_CHECKS" minOccurs="0"></xsd:element>
			<xsd:element name="Resident" type="RESIDENT" minOccurs="0"></xsd:element>
			<xsd:element name="PrimaryEmailAddressChecks" type="PRIMARY_EMAIL_ADDRESS_CHECKS" minOccurs="0"></xsd:element>
			<xsd:element name="RegisteredOwner" type="REGISTERED_OWNER" minOccurs="0"></xsd:element>
			<xsd:element name="PrimaryPhoneChecks" type="PRIMARY_PHONE_CHECKS" minOccurs="0"></xsd:element>
			<xsd:element name="Subscriber" type="SUBSCRIBER" minOccurs="0"></xsd:element>
			<xsd:element name="SecondaryAddressChecks" type="SECONDARY_ADDRESS_CHECKS" minOccurs="0"></xsd:element>
			<xsd:element name="SecondaryEmailAddressChecks" type="SECONDARY_EMAIL_ADDRESS_CHECKS" minOccurs="0"></xsd:element>
			<xsd:element name="SecondaryPhoneChecks" type="SECONDARY_PHONE_CHECKS" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IP_ADDRESS_CHECKS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="DistanceFromPrimaryAddress" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="DistanceFromPrimaryPhone" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="DistanceFromSecondaryAddress" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="DistanceFromSecondaryPhone" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="ErrorMessage" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="ErrorName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="IsValid" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="MatchToPrimaryName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="MatchToSecondaryName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="ProxyRisk" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="Warnings" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			<xsd:element name="GeoLocation" type="GEO_LOCATION" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GEO_LOCATION">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="CityName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="ContinentCode" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="CountryCode" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="CountryName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Subdivision" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PRIMARY_ADDRESS_CHECKS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="Error" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="InputCompletness" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="IsCommercial" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="IsForwarder" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="IsValid" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="MatchToName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AddressDeliveryPointType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Warnings" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			<xsd:element name="Resident" type="RESIDENT" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RESIDENT">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="AgeRangeFrom" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AgeRangeTo" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="FullName" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PRIMARY_EMAIL_ADDRESS_CHECKS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="EmailDomainCreationDays" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="EmailFirstSeenDays" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Error" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="IsAutogenerated" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="IsDisposable" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="IsValid" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="MatchToAddress" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="MatchToName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Warnings" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			<xsd:element name="RegisteredOwner" type="REGISTERED_OWNER" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="REGISTERED_OWNER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="AgeRangeFrom" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AgeRangeTo" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="FullName" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SECONDARY_EMAIL_ADDRESS_CHECKS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="EmailDomainCreationDays" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="EmailFirstSeenDays" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Error" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="IsAutogenerated" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="IsDisposable" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="IsValid" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="MatchToAddress" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="MatchToName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Warnings" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			<xsd:element name="RegisteredOwner" type="REGISTERED_OWNER" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PRIMARY_PHONE_CHECKS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="Carrier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="CountryCode" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Error" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="IsCommercial" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="IsPrepaid" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="IsValid" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="PhoneLineType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="MatchToAddress" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="MatchToName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Warnings" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			<xsd:element name="Subscriber" type="SUBSCRIBER" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SUBSCRIBER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="AgeRangeFrom" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AgeRangeTo" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="FullName" type="xsd:string" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SECONDARY_ADDRESS_CHECKS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="Error" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="InputCompletness" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="IsCommercial" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="IsForwarder" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="IsValid" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="MatchToName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="AddressDeliveryPointType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Warnings" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			<xsd:element name="DistanceFromPrimaryAddress" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="LinkedToPrimaryResident" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="Resident" type="RESIDENT" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SECONDARY_PHONE_CHECKS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="Carrier" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="CountryCode" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Error" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="IsCommercial" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="IsPrepaid" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="IsValid" type="xsd:boolean" minOccurs="0"></xsd:element>
			<xsd:element name="PhoneLineType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="MatchToAddress" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="MatchToName" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="Warnings" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			<xsd:element name="Subscriber" type="SUBSCRIBER" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CALCULATIONS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="Calculation" type="CALCULATION" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CALCULATION">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="Value" type="xsd:string" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PROPERTY_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="CurrentVacancyStatusType" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="GsePropertyType" type="xsd:string" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WORKOUT_EVALUATION_REQUEST_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="CustomerBatchIdentifier" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="PollingInterval" type="xsd:string" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="DOCUMENT_CLASSIFICATION_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="DocumentRequestIndicator" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="RequestFileName" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="RequestFile" type="xsd:string" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GFE_DETAIL_EXTENSION_MISMO">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="RateLockRequestedExtensionDays" type="xsd:integer" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BUYDOWN_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="PermanentIndicator" type="xsd:boolean" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WORKOUT_EVALUATION_RESPONSE_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="ResponseBatchStatus" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="RequestSubmissionIdentifier" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="SellerNumber" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="SellersTermsUsedForEvaluation" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="CorrespondentID" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="LoansSubmittedCount" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="LoansEvaluatedCount" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="LoansUnevaluatedCount" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="LoanConformityType" type="xsd:string" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INTERACTIVE_FIELD_DETAIL_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="DataFieldName" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="LQAValue" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="LPValue" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="Conclusion" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="MessageCode" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="MessageText" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="LPLoanStatus" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="LPRiskClassificationType" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="LPSumissionDateTime" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="LPTransactionNumber" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="SubDataFieldName" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="SubDataFieldLQAValue" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="SubDataFieldLPValue" type="xsd:string" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="OTHER_SERVICES">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="OTHER_SERVICE" type="OTHER_SERVICE" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OTHER_SERVICE">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="Conclusion" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="RAKey" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="RATransactionNumber" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="CreditReportIdentifier" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="MCRNBorrowerName" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="ERROR_DETAILS" type="ERROR_DETAILS" minOccurs="0" ></xsd:element>
			<xsd:element name="DECISIONS" type="DECISIONS" minOccurs="0" ></xsd:element>
			<xsd:element name="ServiceType" type="xsd:string" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DECISIONS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="DECISION" type="DECISION" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DECISION">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="MessageCode" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="MessageText" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="DecisionName" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="DecisionResult" type="xsd:string" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ERROR_DETAILS">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="ErrorCode" type="xsd:string" minOccurs="0" ></xsd:element>
			<xsd:element name="ErrorMessage" type="xsd:string" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DOCUMENT_CLASSES_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="UCDSatisfiedType" type="xsd:string" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INVESTOR_LOAN_INFORMATION_EXTENSION_OTHER">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="MasterCommitment" type="xsd:string" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FOREIGN_OBJECT_EXTENSION_MISMO">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="DOCUMENT_CLASSIFICATION" type="DOCUMENT_CLASSIFICATION" minOccurs="0" ></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
